@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .p-panel .p-panel-header .p-panel-title {
    font-family: 'Roboto Condensed';
  }
}
